body {
    background-color: white;
}

/*
POST
 */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    height: 700px;
    width: 420px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5%;
}

/*
ENTËTE DU POST
 */

.entete {
    background-color: white;
    height: 14.4%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.entete #avatar {
    height: 100%;
}

.entete #avatar {
    vertical-align: middle;
    border: 1px solid #DEDEDE;
    border-radius: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #DEDEDE;
    width: 20%;
}



.entete p {
    font-size: 20px;
    width: 80%;
    font-weight: bold;
}


.entete button {
    height: 50%;
    margin-top: 30%;
    margin-right: 2.5%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
}


/*
IMAGE DU POST
 */

.image {
    height: 67.8%;
    width: 100%;
}

.image img {
    height: 100%;
    width: 100%;
}

/*
DESCRIPTION DU POST
 */

.description {
    height: 20%;
    width: 100%;
}

.description p {
    margin-top: 0;
    margin-left: 2.5%;
}

#legende {
    padding-top: 10px;
}

#legende span {
    font-weight: bold;
}


